In [4]:
# Create a string variable
city_name = "City A"

# Print the values of the string variable
print(f"City name : {city_name}")

City name : City A

In [6]:
# Create an integer variable for temperature
temp = 25

#Print the value ao the integer variable
print(f" Temperature :{temp} C")

 Temperature :25 C

In [8]:
#Create a float variable for Carbon Footprint
carbon_footprint = 500.75 #kg in CO2

# Print the value of the float variable
print(f"Carbon Footprint : {carbon_footprint} kg CO2")

Carbon Footprint : 500.75 kg CO2

In [ ]:
# create a boolean variable to indicate if the city is sustainable
is_sustainable = carbon_footprint < 400   #this will be false because 500.75>400

# Print the value of the boolean variable
print(f" Is the city sustainable?

In [11]:
a = input();
b = input();

type(a) is type(b)

 3
 6

True

In [27]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Choose an operation:")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

choice = int(input("Enter your choice (1/2/3/4): "))

if choice == 1:
    result = a + b
    print("Result of Addition:", result)
elif choice == 2:
    result = a - b
    print("Result of Subtraction:", result)
elif choice == 3:
    result = a * b
    print("Result of Multiplication:", result)
elif choice == 4:
    if b != 0:
        result = a / b
        print("Result of Division:", result)
    else:
        print("Error: Division by zero is not allowed.")
else:
    print("Invalid choice! Please select a valid operation.")

Enter first number:  2
Enter second number:  5

Choose an operation:
1. Addition
2. Subtraction
3. Multiplication
4. Division

Enter your choice (1/2/3/4):  3

Result of Multiplication: 10

In [21]:
climate_data = [
    {"city": "City A", "temperature": 25, "carbon_footprint": 500},
    {"city": "City B", "temperature": 30, "carbon_footprint": 350},
    {"city": "City C", "temperature": 22, "carbon_footprint": 600},
    {"city": "City D", "temperature": 15, "carbon_footprint": 200},
    {"city": "City E", "temperature": 28, "carbon_footprint": 450},
]

for city_data in climate_data:
    if city_data["temperature"] > 20:
        print(city_data)

{'city': 'City A', 'temperature': 25, 'carbon_footprint': 500}
{'city': 'City B', 'temperature': 30, 'carbon_footprint': 350}
{'city': 'City C', 'temperature': 22, 'carbon_footprint': 600}
{'city': 'City E', 'temperature': 28, 'carbon_footprint': 450}
Average Temperature: 28
Average Carbon Footprint: 450

In [ ]:
sum_tem = 0;
sum_cf = 0;
i =0
for avg_data in climate_data:
    sum_tem += city_data["temperature"]
    sum_cf +=  city_data["carbon_footprint"]
    i = i +1;
avg_tem = sum_tem//i
avg_cf = sum_cf//i

print("Average Temperature:", avg_tem)
print("Average Carbon Footprint:", avg_cf)

In [26]:
max_cf = 0
max_city = ""
for city_data in climate_data:
    if city_data["carbon_footprint"] > max_cf:
        max_cf = city_data["carbon_footprint"]
        max_city = city_data["city"]

print("City with Maximum Carbon Footprint:", max_city)
print("Maximum Carbon Footprint:", max_cf)

City with Maximum Carbon Footprint: City C
Maximum Carbon Footprint: 600

In [32]:
import pandas as pd

In [64]:
data123 = {
    "Project": ["Solar Farm A", "Wind Turbine X", "Hydropower Y", "Solar Roof Z", "Geothermal Plant P"],
    "Technology": ["Solar", "Wind", "Hydropower", "Solar", "Geothermal"],
    "Capacity (MW)": [150, 300, 200, 50, 100],  # Megawatts
    "Cost (Million $)": [200, 400, 350, 100, 250],  # Project cost
    "Location": ["California", "Texas", "Washington", "Nevada", "Idaho"],
    "Completion Year": [2023, 2024, 2022, 2025, 2023]
}
renewable_seiries = pd.Series(renewable_sources)
print(renewable_seiries)

SyntaxError: invalid non-printable character U+00A0 (1026802805.py, line 7)

In [34]:
df = pd.DataFrame(data123)
df.head()

NameError: name 'data' is not defined

In [ ]:
grouped data

In [ ]:
array2 = np .range (5, 15, 2)